body {
    box-sizing: border-box;
    font-family: sans-serif;
    background: #f4f6f8;
    padding: 40px;
}

.form {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    max-width: 400px;
}

.form-group {
    border: none;
    margin-bottom: 20px;
}

.form-group h2 {
    text-align: center;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}

.input,
.textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

textarea {
    min-height: 20px;
    max-height: 200px;
    resize: vertical;
}

.checkbox{
    cursor: pointer;
}

.button {
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    background: #2cb445;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;

}


