html {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    padding-top: 80px;
    margin-bottom: 120px;
}

.article-title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    max-width: 596px;
    margin-bottom: 40px;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.article-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    margin-bottom: 20px;
}

.article-mb {
    margin-bottom: 80px;
}

.article-img {
    width: 1220px;
    height: 512px;
    width: 100%;
}

.article-item {
    list-style: inside; 
    margin-bottom: 12px;
}

.article-video {
    width: 1220px;
    height: 686px;
    width: 100%;
    margin-bottom: 40px;
}