html {
    font-family: sans-serif;
}

.container {
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {

    padding: 30px 0px;

}

.header__container {
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    background: #000;
    width: 50px;
    height: 50px;
    margin: 15px;

}

.header-item {
    display: inline-block;
    margin: 15px;
    text-decoration: underline
}

.header-button {
    margin: 15px;
}