body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px;
}

th, caption, td {
    border: 1px solid #000;
}

caption {
    font-size: 20px;
    font-weight: 700;
}

.red {
    color: #ff0000;
}