.footer {
    margin-top: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
    text-align: center;
}

.footer-top {
    border-bottom: 1px solid #d3cbd9;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 40px;
}

.nav {}

.list {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 60px;
}

.list-item {}

.list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    transition: color .2s;
}

.list-link:hover {
    color: #3596ed;
}

.footer-bottom {}

.Copyright {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
}