body {
    min-width: 375px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    min-height: 100vh;
}

.header {
    background: #dd0808;
    grid-column: 1 / 12 span;
    min-height: 100px;
}

.aside {
    background: #f1e42b;
    grid-column: 1 / 2 span;
}

.main {
    background: #1fdd42;
    grid-column: 3 / 12 span;
}

.main .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 350px;
    gap: 15px;
    padding: 20px 15px;
}

.article {
    background: #e56220;
    border-radius: 12px;
}


.footer {
    background: #080cdd;
    grid-column: 1 / 12 span;
    min-height: 200px;
}


/* ========================================================= */

@media (width <= 1200px) {

    .aside {
        grid-column: 1 / 3 span;
    }

    .main {
        grid-column: 4 / 9 span;
    }

}

@media (width <= 768px) {

    .aside {
        display: none;
    }

    .main {
        grid-column: 1 / 12 span;
    }

}
