.footer {
    margin-top: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(73, 169, 255, 0.2)), to(rgba(252, 124, 217, 0.2)));
    background-image: -o-linear-gradient(left, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
    background-image: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
    text-align: center;
}

.footer__top {
    border-bottom: 1px solid #d3cbd9;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 40px;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
}

.nav__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.nav__link:hover {
    color: #3596ed;
}

.copyright {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
}


/* 
1440px десктоп + ноутбуки
1200px десктоп + ноутбуки
992px планшеты
768px планшеты + горизонтальные телефоны
576px телефоны
375px
 */

@media (width <= 768px) {
    .nav__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 25px;
    }
}

@media (width <= 576px) {
    .footer {
        padding-top: 40px;
    }
}