body {
    background: #000;
}

h1 {
    font-size: 100px;
    color: #fff;
    text-align: center;
    position: relative;
    transform: translatey(10px);
}

h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: #e11e1e;
    border-radius: 100%;
    border: 5px solid #fff;
    position: absolute;
    left: 33%;
    top: 0%;
}
h1::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: #3618df;
    border-radius: 100%;
    border: 5px solid #fff;
    position: absolute;
    right: 33%;
}